/* Estilos globales */

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  background-color: rgb(200, 191, 179)
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el navbar */

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

.logo-img {
  width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto; /* Mantén la proporción de la imagen */
}

/* Estilo de texto inicial */

.description {
  font-size: 26px;
  line-height: 1.5;
  color: #333;
  text-align: justify;
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.formal-page {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para la sección de contenido */

section {
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-top: 0px;
  padding: 20px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin-bottom: 10px;
}

/* Estilos para los enlaces */

a {
  text-decoration: none;
  color: #070707;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para la página de error 404 */

.not-found {
  text-align: center;
}

.not-found h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.not-found p {
  margin-bottom: 10px;
}

/* Estilos para la lista de productos */

.modal-content button {
  background-color: #333333; /* Color de fondo gris oscuro */
  color: #ffffff; /* Color de texto blanco */
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.modal-content button:hover {
  background-color: #555555;
}




.modal-content {
  padding: 5px;
  margin: 5px;
}

.contenedor-carrito {
  margin: 5px;
}
.container-footer {
  background-color: #282c34;
  color: rgb(255, 255, 255);
  padding: 10px;
  height: 160px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.navegador {
  display: flex;
  flex-wrap: wrap;
}
.app-container {
  width: 100vw;
}


/*Barra de búsqueda*/
input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  width: 250px;
  height: 20px;
  margin-bottom: 5px;
}
.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  /* margin: 10px; */
  background-color: gray;
  padding: 5px;
}
.button {
  color: white;
  margin-left: 0px;
  margin-top: 40px;
}
.search-button {
  padding: 6px 10px;
  background-color: #039bfb;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 6px;
}
.search-input {
  padding: 8px;
  border: 1px solid #201a1a;
  border-radius: 5px;
  margin-right: 5px;
}




.product-list button {
  background-color: #333333; /* Color de fondo gris oscuro */
  color: #ffffff; /* Color de texto blanco */
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.button-view-cart {
  background-color: #333333; /* Color de fondo gris oscuro */
  color: #ffffff; /* Color de texto blanco */
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.product-list button:hover {
  background-color: #555555;
}

.button-view-cart:hover {
  background-color: #555555;
}

ul.categorias {
  display: flex;
  list-style: none;
  padding: 0;
}

ul.categorias li {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul.categorias li.selected {
  background-color: #4a4a4a;
  color: #fff;
}

ul.categorias li:hover {
  background-color: #f2f2f2;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  margin-left: 15px;
}

/* Estilos seccion sobre nosotros */

.about-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.about-button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.about-button.active {
  background-color: #333;
  color: #fff;
}

.about-content {
  margin-top: 20px;
}

/* Estilos de los textos dentro de los seleccionables*/

.about-subheading {
  margin-left: 15px;
}

.about-description {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 30px;
  line-height: 1.5;
}

.value-list {
  margin-left: 15px;
  font-size: 18px;
}

/* Estilos del apartado formulario de contacto */

.leyenda {
  margin-left: 20px;
  font-size: 18px;
}

.contact-form {
  max-width: 400px;
  margin: 0;
  margin-left: 20px;
  margin-top: 30px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  height: 120px;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

.contact-form p.success-message {
  color: rgb(253, 253, 253);
  margin-top: 10px;
}

.contact-form p.error-message {
  color: rgba(255, 0, 0, 0.466);
  margin-top: 10px;
}

.not-found {
  text-align: center;
  padding: 50px;
}

.cortocircuito {
  max-width: 60%;
  margin-top: 20px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.menu-button {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: flex;
}

.menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 20px;
  background-color: #282c34;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.menu.open {
  display: block;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
